*.o
*.lo
Makefile
.deps
.libs
*.la
tests/test_*
*.gmo
*.mo
autom4te.cache
Makefile.in
config.guess
config.h
config.sub
aclocal.m4
config.h.in
config.log
configure
depcomp
_prefix
test_*
test
write_test_temporary_file.xt
install-sh
liblicense.pc
\#*#
.#*
ltmain.sh
libtool
mkmf.log
stamp-h1
*.c~

