[submodule "license.rdf"]
	path = license.rdf
	url = git://code.creativecommons.org/license.rdf.git
[submodule "icons/jurisdictions"]
	path = icons/jurisdictions
	url = git://code.creativecommons.org/jurisdiction-icons.git
[submodule "licenses"]
	path = licenses
	url = git://code.creativecommons.org/just_license_rdf
